<!-- <p> HTML, CSS, Javascript, Python, Bash</p> -->
<h2>Programming Languages</h2>
<p>
    <a title="HTML" href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank"><img class="devicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" /></a>
    <a title="CSS" href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><img class="devicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" /></a>
    <a title="JavaScript" href="https://developer.mozilla.org/en-US/docs/Web/javascript" target="_blank"><img class="devicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" /></a>
    <a title="Python3" href="https://www.python.org/" target="_blank"><img class="devicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" /></a>
    <a title="Bash" href="https://www.gnu.org/software/bash/manual/bash.html" target="_blank"><img class="devicon inverted" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg" /></a>
</p>
<!-- <p> splunk>, XSOAR, MS Defender </p> -->
<h2>Other Tools</h2>
<p>
    <a href="https://code.visualstudio.com/" target="_blank"><img class="devicon" title="VSCode" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" /></a>
    <a href="https://xsoar.pan.dev/" target="_blank"><img class="devicon" title="XSOAR" src="https://xsoar.pan.dev/img/cortexfavicon.png" /></a>
    <a href="https://www.splunk.com/" target="_blank"><img class="devicon" title="Splunk" src="https://www.splunk.com/content/dam/splunk2/images/icons/favicons/apple-touch-icon-60x60.png" /></a>
    <a href="https://www.microsoft.com/en-us/security/business/endpoint-security/microsoft-defender-endpoint" target="_blank"><img class="devicon" title="MS Defender" src="https://aadcdn.msauth.net/shared/1.0/content/images/favicon_a_eupayfgghqiai7k9sol6lg2.ico" /></a>
    <a href="https://www.redhat.com/en/topics/linux/what-is-linux" target="_blank"><img class="devicon" title="Linux" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" /></a>
</p>

<style>
    .devicon {
        width: 32px;
        height: 32px;
    }
    .inverted {
        filter: invert(80%);
    }
</style>